<html>
<body>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<h1>Edit Menu Item</h1>
<form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
<br>
<p>Name:</p>
<input style="margin-top: 0.50em;" type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'>

<input type='submit' value='Edit'>
</form>
<a href= '{{url_for('restaurantMenu', restaurant_id= item.restaurant_id)}}'>Cancel</a>
</body>
</html>