<html>
<body>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<h1> New Menu Item </h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
<br>
<p>Name:</p>

<input type='text' size='30' name='name'>

<p style="margin-top: 0.5em;">Description:</p>

<input type='text' size='30' name='description'>

<p style="margin-top: 0.5em;">Price:</p>

<input type='text' size='30' name='price'>

<p style="margin-top: 0.5em;">Course:</p>

<input type='radio' size='30' name='course' value='appetizer'> Appetizer<br>
<input type='radio' size='30' name='course' value='entree'> Entree<br>
<input type='radio' size='30' name='course' value='dessert'> Dessert<br>
<input type='radio' size='30' name='course' value='beverage'> Beverage<br>
<br>
<input type='submit' value='Create'>

</form>

</body>
</html>
